.link-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    margin-left: .15rem;
    margin-right: .15rem;
}

img {
    max-height: 25rem;
    max-width: 25rem;
}

.to-folio {
    width: 4rem;
    height: 10rem;
}