a {
    font-size: 125%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-social {
    display: flex;
    flex-direction: row;
}

.social-icon {
    margin-left: .15rem;
    margin-right: .15rem;
}

.social-icon:hover {
    width: 32px;
    height: 32px;
    border-radius: 10%;
    box-shadow:
        0 0 32px 15px #ffc107;
}

.nav-name, .nav-resume {
    color: #ffc107;
    transition: background-color 0.75s ease;
}

.nav-name:hover, .nav-resume:hover {
    color: #000000;
    text-decoration: none;
    background-color: #ffc107;
}